.tool-bar {
  display: flex;
  background-color: white;
  border: 5px solid lightslategray;
  border-radius: 25px;
  height: 50px;
  width: 1050px;
  position: absolute;
  left: 300px;
}
.tool > svg > path {
  fill: rgba(0, 0, 0, 1);
}

.tool {
  margin-left: 20 px;
  padding: 10px;
}
.tool > svg {
  width: 30px;
  height: 30px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
