/* tools selected*/

.tool-bar {
  display: flex;
  /* flex-wrap: nowrap; */
  /* flex-flow: row nowrap; */
  /* align-items: left; */
  /* justify-content: center; */
  background-color: white;
  border: 5px solid lightslategray;
  border-radius: 25px;
  height: 60px;
  width: 1050px;
  position: absolute;
  left: 300px;
}
.tool > svg > path {
  fill: rgba(0, 0, 0, 1);
}

.tool {
  margin-left: 20px;
  padding: 10px;
  display: block;
  margin: auto;
  border: 0px;
  background-color: white;
}

.selected-tool {
  background-color: rgba(129, 150, 134, 1);

  border: 3px solid lightgrey;
  border-radius: 10px;
  /* padding: 10px; */
}
/* #text-tool {
  margin-left: 120px;
} */

.tool > svg {
  width: 30px;
  height: 30px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

/*.icon-text {
  width: 30px;
  height: 30px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.icon-image {
  width: 45px;
  height: 45px;
  margin-top: 5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.icon-bullet {
  width: 45px;
  height: 45px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.icon-bold {
  width: 30px;
  height: 30px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}*/
