body {
  height: 100%;
  width: 100%;
  background-image: url('images/cover-background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

#index-button {
  fill: rgba(129, 150, 134, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
  cursor: pointer;
}
.index-button {
  position: relative;
  overflow: visible;
  width: 80px;
  height: 80px;
  left: 11px;
  top: 12px;
}

#icon-ionic-ios-book {
  position: absolute;
  width: 29.236px;
  height: 26.997px;
  left: 36.382px;
  top: 133.501px;
  overflow: visible;
  cursor: pointer;
}
#Path_1 {
  fill: rgba(171, 187, 175, 1);
}
.Path_1 {
  overflow: visible;
  position: absolute;
  width: 13.915px;
  height: 26.99px;
  left: 0px;
  top: 0.007px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2 {
  fill: rgba(171, 187, 175, 1);
}
.Path_2 {
  overflow: visible;
  position: absolute;
  width: 13.915px;
  height: 26.99px;
  left: 15.321px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_3 {
  fill: rgba(230, 230, 230, 1);
}
.Path_3 {
  overflow: visible;
  position: absolute;
  width: 13.915px;
  height: 26.99px;
  left: 0px;
  top: 0.007px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_4 {
  fill: rgba(230, 230, 230, 1);
}
.Path_4 {
  overflow: visible;
  position: absolute;
  width: 13.915px;
  height: 26.99px;
  left: 15.321px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#left-pane-button {
  width: 80px;
  height: 80px;
  left: 28px;
  top: 117px;
  border: 1px solid purple;
  display: block;
}

#login-bg {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: #000000;
  opacity: 0.86;
}

#login-frame {
  position: absolute;
  z-index: 2000;
  width: 100%;
  height: 100%;
  display: none;
}
#login-box {
  border-radius: 20px;
  border: 1px solid white;
  width: 600px;
  height: 420px;
  margin: 200px auto auto auto;
  background-color: rgb(137, 148, 138, 1);
  color: white;
}

.avatar {
  display: block;
  margin: 20px auto auto auto;
  width: 140px;
  height: 160px;
  object-fit: contain;
}

#login-box input[type='text'],
input[type='password'] {
  width: 260px;
  height: 40px;
  padding: 2px 5px 2px 5px;
  font-size: 20px;
  margin-left: 8px;
  margin-top: 8px;
  display: inline-block;
  box-sizing: border-box;
}

#login-box button {
  margin-top: 15px;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
}

/* Add a hover effect for buttons */
#login-box button:hover {
  opacity: 0.8;
}

#btn-login {
  margin-left: 220px;
}
#btn-create {
  margin-left: 15px;
}

.passwd-box,
.email-box {
  width: 400px;
  margin-left: 50px;
  text-align: right;
}

#error-info {
  display: none;
  margin-top: 8px;
  text-align: center;
  color: red;
}

#Ellipse_2 {
  fill: rgba(171, 187, 175, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Ellipse_2 {
  position: absolute;
  overflow: visible;
  width: 65px;
  height: 65px;
  right: 17px;
  top: 13px;
}

#Icon_awesome-calendar {
  fill: rgba(255, 255, 255, 1);
}
.Icon_awesome-calendar {
  overflow: visible;
  position: absolute;
  width: 31.5px;
  height: 36px;
  right: 34px;
  top: 27px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  cursor: pointer;
}

.page {
  background-image: url('images/kcMbeLkoi.png');
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -90px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 43vw;
}

drag-view {
  display: block;
  background: transparent;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 95%;
}
