body {
  height: 100%;
  width: 100%;
  background-image: url('images/cover-background.png');
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

#index-button {
  fill: rgba(129, 150, 134, 1);
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
  cursor: pointer;
}
.index-button {
  position: relative;
  overflow: visible;
  width: 80px;
  height: 80px;
  left: 11px;
  top: 12px;
}

#icon-ionic-ios-book {
  position: absolute;
  width: 29.236px;
  height: 26.997px;
  left: 36.382px;
  top: 133.501px;
  overflow: visible;
  cursor: pointer;
}
#Path_1 {
  fill: rgba(171, 187, 175, 1);
}
.Path_1 {
  overflow: visible;
  position: absolute;
  width: 13.915px;
  height: 26.99px;
  left: 0px;
  top: 0.007px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_2 {
  fill: rgba(171, 187, 175, 1);
}
.Path_2 {
  overflow: visible;
  position: absolute;
  width: 13.915px;
  height: 26.99px;
  left: 15.321px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_3 {
  fill: rgba(230,230,230,1);
}
.Path_3 {
  overflow: visible;
  position: absolute;
  width: 13.915px;
  height: 26.99px;
  left: 0px;
  top: 0.007px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Path_4 {
  fill: rgba(230,230,230,1);
}
.Path_4 {
  overflow: visible;
  position: absolute;
  width: 13.915px;
  height: 26.99px;
  left: 15.321px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#left-pane-button {
  width: 80px;
  height: 80px;
  left: 28px;
  top: 117px;
  border: 1px solid purple;
  display: block;
}

#Ellipse_2 {
	fill: rgba(171,187,175,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 65px;
	height: 65px;
	left: 1837.5px;
	top: 13px;
}

#Icon_awesome-calendar {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-calendar {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 36px;
	left: 1854px;
	top: 27px;
	transform: matrix(1,0,0,1,0,0);
  cursor: pointer;
}

.page {
  background-image: url('images/kcMbeLkoi.png');
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -80px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 43vw;
}

drag-view {
  position: absolute;
  display: block;
  background: transparent;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 43vw;
}
tool-bar {
  position: absolute;
  top: -210px;
  left: 0px;
}
